<!doctype html>

<head>
<title>BMI CALCULATOR</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
</head>

<h1>BMI CALCULATOR</h1>

<body>

<div>
    <form class="pure-form" method="POST" action="/">
        <fieldset>
            Weight(kg) <br>
            <input type="number" step="any" name="weight" placeholder="weight"><br>
            <br>
            Height(cm) <br>
            <input type="number" step="any" name="height" placeholder="height"><br>
            <br>
            <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
        </fieldset>
    </form>
</div>

<div>
    {% if bmi %}
       <p>Your BMI is {{ bmi }}</p>
    {% endif %}
</div>

</body>
